<!-- profile page / user dashboard / your bookings list -->

<!-- dashboard -->
<div class="grid-container">

  <header class="header">
   <h3 id="header"> <%= current_user.name %>'s Requested Tasks</h3>
  </header>
  <aside class="sidenav">
    <%  if user_signed_in? && current_user.avatar.attached? %>
      <%= cl_image_tag current_user.avatar.key, height: 60, width: 60, class: "avatar-new" %>
    <% else %>
      <%= image_tag 'avatar_dummy.png', class: "avatar-profile", alt: "alttext"%>
    <% end %>
    <h6 class="profile_font"> Hello <%= current_user.name %>!</h6>
    <ul class="sidenav__list">
      <li class="sidenav__list-item"><%= link_to "Profile", edit_user_registration_path %></li>
      <li class="sidenav__list-item"><%= link_to "Tasks", dashboard_tasks_path %></li>
      <li class="sidenav__list-item"><%= link_to "Bookings", bookings_path %></li>
      <li class="sidenav__list-item"><%= link_to 'Messages', chatroom_url(Chatroom.ids)%></li>
      <li class="sidenav__list-item"><%= link_to 'Reviews', task_reviews_path %></li>
    </ul>
  </aside>

  <main class="main">
    <div class="container">
      <div id="Tasks" class="tabcontent">
        <h6>Pending Tasks</h6>
        <div class="dashboard_card">
          <ol style="line-height: 2rem">
            <% @tasks.each do |task| %>
              <% if task.date >= @current_time %>
                <li>
                  <%= task.category.name.upcase %>
                  <%= task.date.strftime("at %l:%M%p on %d %b %Y") %>
                  <% if task.bookings.where(status: true).length > 0 %>
                    - <em><%= link_to "Confirmed", task_path(task) %></em> <i class="fas fa-thumbs-up" style="color: rgba(138, 171, 137, 0.6)"></i>
                  <% else %>
                    - <em><%= link_to "Pending Confirmation", task_path(task) %></em> <i class="fas fa-thumbs-down" style="color: rgba(255, 77, 52, 0.6)"></i>
                  <% end %>
                </li>
              <% end %>
            <% end %>
          </ol>
        </div>
      </div>

      <div id="Tasks" class="tabcontent">
        <h6>Completed Tasks</h6>
        <div class="dashboard_card">
          <ol style="line-height: 2rem">
            <% @tasks.each do |task| %>
              <% if task.date < @current_time && task.bookings.where(status: true).length >= 1 %>
                <li>
                  <%= link_to task.bookings.where(status: true).first.user.name, user_path(task.bookings.where(status: true).first.user) %> saved the day -
                  <%= link_to task.category.name.upcase, task_path(task) %>
                  <%= task.date.strftime("at %l:%M%p on %d %b %Y") %>
                  <% if task.bookings.where(status: true).first.booking_review %>
                    - <em><% task.bookings.where(status: true).first.booking_review.rating.times do %>&#11088<% end %></em>
                  <% else %>
                    - <em><%= link_to "Leave a Review", new_booking_booking_review_path(task.bookings.where(status: true).first) %></em>
                  <% end %>
                </li>
              <% end %>
            <% end %>
          </ol>
        </div>
      </div>

      <div id="Tasks" class="tabcontent">
        <h6>Expired Tasks</h6>
        <div class="dashboard_card">
          <ol style="line-height: 2rem">
            <% @tasks.each do |task| %>
              <% if task.date < @current_time && task.bookings.where(status: true).length < 1 %>
                <li>
                  <%= link_to task.category.name.upcase, task_path(task) %>
                  <%= task.date.strftime("%l:%M%p on %d %b %Y") %>
                  - <em><%= link_to "Remove", task_path(task), method: :delete, data: { confirm: 'Are you sure?' } %></em>
                </li>
              <% end %>
            <% end %>
          </ol>
        </div>
      </div>
    </div>
  </main>
  <chat class="chat">
    <h6 class="profile_font" style="padding-top: 75px">Newsfeed</h6>
      <div class="bio_card">
        <% bookings = [] %>
        <% @tasks.each do |task| %>
          <% task.bookings.each do |booking| %>
            <% bookings << booking %>
          <% end %>
        <% end %>
          <% bookings.sort_by(&:created_at).reverse.first(5).each do |booking| %>
            <div class="notification-card">
              <div class="d-flex flex-column justify-content-center">
                <%= link_to user_path(booking.user) do %>
                  <div data-toggle="tooltip" data-placement="top" title="<%= booking.user.name %>  <%= booking.user.surname %> (<%= ((@current_date - booking.task.user.date_of_birth).to_i)/365.25.to_i %> yrs)">
                    <% if booking.user.avatar.attached? %>
                      <%= cl_image_tag booking.user.avatar.key, class: "notification-avatar", alt: "avatar" %>
                    <% else %>
                      <%= image_tag 'avatar_dummy.png', class: "notification-avatar", alt: "avatar" %>
                    <% end %>
                  <% end %>
                </div>
              </div>
              <div>
                <%= link_to booking.user.name, user_path(booking.user) %> volunteered for <%= link_to booking.task.category.name, task_path(booking.task) %>
                <% if (@current_time.to_i - booking.created_at.to_i) < 3600 %>
                  <em><%= (@current_time.to_i - booking.created_at.to_i) / 60 %> minutes ago</em>
                <% elsif (@current_time.to_i - booking.created_at.to_i) < 86400 %>
                  <em><%= (@current_time.to_i - booking.created_at.to_i) / 3600 %> hours ago</em>
                <% else %>
                  <em><%= (@current_time.to_i - booking.created_at.to_i) / 86400 %> days ago</em>
                <% end %>
              </div>
            </div>
          <% end %>
        <div class="text-center">
          See All
        </div>
      </div>
  </chat>
</div>
