<div class="container p-0" style="position:relative; ">
  <h2 class="cursive-header">Just 3 steps to becoming your local HERO</h2>
  <h4 style="text-align: center; color: #3A6B7E; margin: 0; padding-top: 16px;">1. Find neighbours-in-need in your local area?</h4>
  <div class="container">
    <%= form_tag tasks_path, method: :get, class: "search-home justify-content-center" do %>
    <div class="d-flex justify-content-center" style="padding: 8px">
      <%= text_field_tag :query,
        params[:query],
        class: "form-control mr-sm-2",
        placeholder: "Search your local area"
      %>
      <%= submit_tag "Search", class: "btn-outline" %>
    </div>
  <% end %>
</div>


  <div class="row d-flex justify-content-center">
    <div class="col">
      <% @tasks.each do |task|  %>
        <% if task.date >= @current_time && task.bookings.where(status: true).length < 1 %>
          <div class="card-booking my-2">
            <div class="d-flex card-inner justify-content-between">
              <div class="card-booking-infos" >
                <h2><%= link_to task.category.name, task_path(task) %></h2>
                <p><b>What:</b> <%= task.description %></p>
                <p><b>Where:</b> <%= task.address %><b></p>
                <p>When:</b> <%= task.date.strftime("%l:%M%p on %d %b %Y") %></p>
              </div>
              <!-- insert user avatar -->
                <%= render "bookings/form", task: task, booking: Booking.new %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="col my-2" id="map" style="width: 100%; height: 100vh;"data-markers="<%= @markers.to_json %>"data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div>
</div>
