<div class= "d-flex justify-content-center mt-3 ">
  <div class="card-confirmation card-radius">
    <div class=task-headers>
      <p>Choose your Hero</p>
    </div>
    <div class=card-confirmation-left>

       <% if Booking.where(task: @task).empty? %>
       <div class="left-message">
        <h2 class="text-center">Your task has been posted </h2>
        <h6 class="text-center">Please wait for one of our heroes to volunteer </h6>

       </div>
       <% else %>
       <% Booking.where(task: @task).each do |booking| %>
       <div class="hero-card">
          <% if booking.user.avatar.attached? %>
            <%= cl_image_tag booking.user.avatar.key, class: "hero-avatar" %>
          <% else %>
            <%= image_tag 'avatar_dummy.png', class: "hero-avatar", alt: "alttext" %>
          <% end %>
          <div class="hero-details">
            <h3>
              <%= link_to "#{booking.user.name} #{booking.user.surname}", user_path(booking.user)  %>
            </h3>
            <div class="d-flex">
            <p class="hero-age"> <%= ((@current_date - booking.user.date_of_birth).to_i)/365.25.to_i %> years old </p>
            <% sum = 0 %>
            <% reviews = 0 %>
            <% booking.user.bookings.each do |booking| %>
              <% if booking.booking_review %>
                <% sum += booking.booking_review.rating %>
                <% reviews += 1 %>
              <% end %>
            <% end %>
            <% booking.user.tasks.each do |task| %>
              <% if task.task_review %>
                <% sum += task.task_review.rating %>
                <% reviews += 1 %>
              <% end %>
            <% end %>
            <% if reviews != 0 %>
              <% (sum / reviews).times do %>
                &#11088
              <% end %>
            <% else %>
              <em>No Reviews</em>
            <% end %>
            </div>
          </div>
          <div>
          <%= simple_form_for booking, remote: true do |f| %>
            <%= f.hidden_field :status, value: true %>
            <%= f.submit "Confirm", class: "hero-button btn", "data-target" => "#exampleModal#{booking.id}", "data-toggle" => "modal" %>
          <% end %>

          <div class="modal fade" id="exampleModal<%= booking.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Success!</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <h1>Your Hero <span style="color: rgba(138, 171, 137, 0.9);"><%= booking.user.name %></span> has been selected</h1>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-lg" data-dismiss="modal">Save changes</button>
                </div>
              </div>
            </div>
          </div>

          </div>

       </div>
       <% end %>
       <% end %>
    </div>
    <div class="card-confirmation-right">

      <div class=task-info>
        <div class="d-flex align-items-center">
          <div class="icon_card-hero mb-4 mt-1">
            <%= image_tag "icons/#{@task.category.icon}", class: "w-100"%>
          </div>
          <p class="ml-3">Hi 👋 <%= current_user.name %></p>
        </div>
        <h3>Select your <span><%= @task.category.name %></span> Hero from the list </h3>
          <div class="task-details">
            <p><b>Where:</b> <%= @task.address %><b></p>
            <p>When:</b> <%= @task.date.strftime('%Y-%M-%D') %></p>
            <p><b>Extra description:</b> <%= @task.description %> </p>
          </div>
      </div>
    </div>
  </div>

</div>
<div class="div-hero"> </div>

<h2 class="text-center">Communities are talking...want to eavesdrop?</h2>
  <h6 class="text-center">Our trusted heroes have been busy...</h6>

  <!-- <div class=card-confirmation>
    <div class="container card-confirmation-info ">
      <div class="card border-0" style="text-align: justfiy-content-center; background: transparent;">
        <div class="icon_card mb-4 mt-1">
          <%#= image_tag "icons/#{@task.category.icon}", class: "w-100"%>
        </div>
            <h1>Your <span><%#= @task.category.name %></span> Hero has been requested </h1>
            <p><b>Where:</b> <%= @task.address %><b></p>
            <p>When:</b> <%#= @task.date.strftime('%Y-%M-%D') %></p>
            <p><b>Extra description:</b> <%= @task.description %> </p>
          </div>
        </div>
      </div>
</div> -->







