<!-- profile page / user dashboard / your bookings list -->

<!-- dashboard -->
<div class="grid-container">

  <header class="header">
    <h3 id="header"> <%= current_user.name %>'s Bookings As A Hero</h3>
  </header>
  <aside class="sidenav">
    <%  if user_signed_in? && current_user.avatar.attached? %>
                <%= cl_image_tag current_user.avatar.key, height: 60, width: 60, class: "avatar-large" %>
              <% else %>
                <%= image_tag 'avatar_dummy.png', class: "avatar-profile", alt: "alttext"%>
              <% end %>
    <h6 class="profile_font"> Hello <%= current_user.name %>!</h6>
    <ul class="sidenav__list">
      <li class="sidenav__list-item"><%= link_to "Profile", edit_user_registration_path %></li>
      <li class="sidenav__list-item"><%= link_to "Tasks", dashboard_tasks_path %></li>
      <li class="sidenav__list-item"><%= link_to "Bookings", bookings_path %></li>
      <li class="sidenav__list-item"><%= link_to 'Messages', chatroom_url(Chatroom.ids)%></li>
      <li class="sidenav__list-item"><%= link_to 'Reviews', task_reviews_path %></li>
    </ul>
  </aside>

  <main class="main">
    <div class="container">
      <div id="Bookings" class="tabcontent">
        <h6>Pending Bookings</h6>
        <div class="dashboard_card">
          <ol style="line-height: 2rem">
            <% @bookings.each do |booking| %>
              <% if booking.task.date >= @current_time %>
                <li>
                  <%= booking.task.category.name.upcase %>
                  <%= booking.task.date.strftime("at %l:%M%p on %d %b %Y") %>
                  <% if booking.status %>
                    - <em><%= link_to "Confirmed", booking_path(booking) %></em>  <i class="fas fa-thumbs-up" style="color: rgba(138, 171, 137, 0.6)"></i>
                  <% else %>
                    - <em><%= link_to "Pending Confirmation", booking_path(booking) %></em>  <i class="fas fa-thumbs-down" style="color: rgba(255, 77, 52, 0.6)"></i>
                  <% end %>
                </li>
              <% end %>
            <% end %>
          </ol>
        </div>
      </div>

      <div id="Bookings" class="tabcontent">
        <h6>Completed Bookings</h6>
        <div class="dashboard_card">
          <ol style="line-height: 2rem">
            <% @bookings.each do |booking| %>
              <% if booking.task.date < @current_time && booking.status %>
                <li>
                  <%= link_to booking.task.category.name.upcase, booking_path(booking) %>
                  <%= booking.task.date.strftime("%l:%M%p on %d %b %Y") %>
                </li>
              <% end %>
            <% end %>
          </ol>
        </div>
      </div>

      <div id="Bookings" class="tabcontent">
        <h6>Expired Bookings</h6>
        <div class="dashboard_card">
          <ol style="line-height: 2rem">
            <% @bookings.each do |booking| %>
              <% if booking.task.date < @current_time && !booking.status %>
                <li>
                  <%= link_to booking.task.category.name.upcase, booking_path(booking) %>
                  <%= booking.task.date.strftime("%l:%M%p on %d %b %Y") %>
                  - <em><%= link_to "Remove", booking_path(booking), method: :delete, data: { confirm: 'Are you sure?' } %></em>
                </li>
              <% end %>
            <% end %>
          </ol>
        </div>
      </div>
    </div>
  </main>
  <chat class="chat">
    <h6 class="profile_font" style="padding-top: 75px">About Me</h6>
        <div class="bio_card">
          <p>Blah Blah</p>
        </div>
  </chat>
</div>
