<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "header_logo.png" %>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
          <%= link_to "Browse tasks", tasks_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "How it works", "#{root_path}#how_it_works" , class: "nav-link" %>
        </li>
        <li class="nav-item nav-link" id="checkout-button-price_1IVgVCF6fb1ssZ6XpGxVWg5j" role="link" type="button">
          Donate
        </li>

<div id="error-message"></div>

<script>
(function() {
  var stripe = Stripe('pk_test_51IUYBDF6fb1ssZ6XrTPROGliDipM0q1mSF21PybUl5j30Ktv02CCnrgTsod5gdJ6Abk0EFhNlxTGvDDoymaRaJjD00N9RN4gOx');

  var checkoutButton = document.getElementById('checkout-button-price_1IVgVCF6fb1ssZ6XpGxVWg5j');
  checkoutButton.addEventListener('click', function () {
    /*
     * When the customer clicks on the button, redirect
     * them to Checkout.
     */
    stripe.redirectToCheckout({
      lineItems: [{price: 'price_1IVgVCF6fb1ssZ6XpGxVWg5j', quantity: 1}],
      mode: 'payment',
      /*
       * Do not rely on the redirect to the successUrl for fulfilling
       * purchases, customers may not always reach the success_url after
       * a successful payment.
       * Instead use one of the strategies described in
       * https://stripe.com/docs/payments/checkout/fulfill-orders
       */
      successUrl: 'http://www.yourhoxtonhero.com/donations',
      cancelUrl: 'http://www.yourhoxtonhero.com/nondonations',
    })
    .then(function (result) {
      if (result.error) {
        /*
         * If `redirectToCheckout` fails due to a browser or network
         * error, display the localized error message to your customer.
         */
        var displayError = document.getElementById('error-message');
        displayError.textContent = result.error.message;
      }
    });
  });
})();
</script>
        </li>


      <% if user_signed_in? %>
        <li class="nav-item" style="margin: 8px">
          <%= link_to "Post A Task", new_task_path, class: "btn-green" %>
        </li>
        <li class="nav-item" style="margin: 8px">
          <%= link_to "Dashboard", dashboard_tasks_path, class: "btn-red" %>
        </li>
        <li class="nav-item dropdown">
          <%  if user_signed_in? && current_user.avatar.attached? %>
            <%= cl_image_tag current_user.avatar.key, height: 40, width: 40, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% else %>
            <%= image_tag 'avatar_dummy.png', class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% end %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "My Account", edit_user_registration_path, class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>

        <li class="nav-item">
          <%= link_to "Sign-up",  new_user_registration_path, class: "nav-link" %>
        </li>
        <li class="nav-item" style="margin-right: 16px">
          <%= link_to "Login", user_session_path, class: "nav-link" %>
        </li>
        <li class="nav-item" style="margin: 8px">
          <%= link_to "Post A Task", new_task_path, class: "btn-green" %>
        </li>
        <li class="nav-item" style="margin: 8px">
          <%= link_to "Become A Hero", '#', class: "btn-red" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
